<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>34</integer>
			</dict>
			<key>armed</key>
			<dict>
				<key>CF$UID</key>
				<integer>10</integer>
			</dict>
			<key>byte1</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>byte2</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>channel</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>color</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>continueMode</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>cueTarget</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>cueTargetUniqueID</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>doFade</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>duration</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>endValue</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>fade</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>fileTarget</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>hotKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>midiTrigger</key>
			<dict>
				<key>CF$UID</key>
				<integer>13</integer>
			</dict>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>notes</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>number</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>patch</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>postWait</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>preWait</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>relativePath</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>savedToDisk</key>
			<false/>
			<key>showAsTimecode</key>
			<dict>
				<key>CF$UID</key>
				<integer>10</integer>
			</dict>
			<key>status</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>timecode</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>uniqueID</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>useMIDITrigger</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>useTimecode</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>useWallClock</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>wallHours</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>wallMinutes</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>wallSeconds</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>workspace</key>
			<dict>
				<key>CF$UID</key>
				<integer>3</integer>
			</dict>
		</dict>
		<string>$null</string>
		<string>7</string>
		<string>5</string>
		<string>Test Cue</string>
		<real>0.0</real>
		<real>0.0</real>
		<integer>0</integer>
		<true/>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>QLActionKeyCapsLock</key>
			<false/>
			<key>QLActionKeyCommand</key>
			<false/>
			<key>QLActionKeyControl</key>
			<false/>
			<key>QLActionKeyFunction</key>
			<false/>
			<key>QLActionKeyKeyCharacter</key>
			<integer>0</integer>
			<key>QLActionKeyKeyCode</key>
			<integer>0</integer>
			<key>QLActionKeyOption</key>
			<false/>
			<key>QLActionKeyShift</key>
			<false/>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>FFHotKey</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>FFHotKey</string>
		</dict>
		<data>
		kAAA
		</data>
		<false/>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>CTTimecodeBits</key>
			<integer>0</integer>
			<key>CTTimecodeFF</key>
			<integer>0</integer>
			<key>CTTimecodeFramerate.dropFrame</key>
			<false/>
			<key>CTTimecodeFramerate.fps</key>
			<integer>30</integer>
			<key>CTTimecodeFramerate.videoSpeed</key>
			<false/>
			<key>CTTimecodeHH</key>
			<integer>0</integer>
			<key>CTTimecodeMM</key>
			<integer>0</integer>
			<key>CTTimecodeSS</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>CTTimecode</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>CTTimecode</string>
		</dict>
		<integer>1</integer>
		<real>5</real>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>33</integer>
			</dict>
			<key>columns</key>
			<integer>1</integer>
			<key>convertLevelsToDb</key>
			<false/>
			<key>downShapeEntries</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>duration</key>
			<real>5</real>
			<key>firstAndLastShapeEntriesLocked</key>
			<true/>
			<key>gangs</key>
			<dict>
				<key>CF$UID</key>
				<integer>32</integer>
			</dict>
			<key>levelEntries</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>livePreview</key>
			<false/>
			<key>rows</key>
			<integer>1</integer>
			<key>symmetricShape</key>
			<true/>
			<key>upShapeEntries</key>
			<dict>
				<key>CF$UID</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>22</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>next</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>previous</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>t</key>
			<real>0.0</real>
			<key>v</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>next</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>previous</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>t</key>
			<real>1</real>
			<key>v</key>
			<real>1</real>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>FadeShapeEntry</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>FadeShapeEntry</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>27</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>next</key>
			<dict>
				<key>CF$UID</key>
				<integer>27</integer>
			</dict>
			<key>previous</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>t</key>
			<real>0.0</real>
			<key>v</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>next</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>previous</key>
			<dict>
				<key>CF$UID</key>
				<integer>26</integer>
			</dict>
			<key>t</key>
			<real>1</real>
			<key>v</key>
			<real>1</real>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>31</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>9</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>29</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>30</integer>
			</dict>
			<key>column</key>
			<integer>0</integer>
			<key>endLevel</key>
			<real>0.0</real>
			<key>gang</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>live</key>
			<true/>
			<key>row</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>FadeLevelEntry</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>FadeLevelEntry</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableDictionary</string>
				<string>NSDictionary</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableDictionary</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>31</integer>
			</dict>
			<key>NS.keys</key>
			<array/>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>Fade</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>Fade</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MIDICue</string>
				<string>Cue</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MIDICue</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
